.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1.25rem 3rem;

    &:hover {
        color: var(--clr-accent-400);
    }

    position: relative;
}

.btn:first-of-type,
.btn:last-of-type {
    border-top: 2px solid rgba(145, 148, 161, 0.2);
    border-bottom: 2px solid rgba(145, 148, 161, 0.2);
}

.content {
    max-width: 24rem;
    margin: 0 auto;
    text-align: center;
}

.active::after {
    content: '';
    background-color: var(--clr-accent-400);
    width: 60%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .headings {
        flex-direction: row;
    }

    .content {
        text-align: left;
        margin-left: 3rem;
    }

    .btn:first-of-type,
    .btn:last-of-type {
        border-top: none;
    }

    .btn {
        border-bottom: 2px solid rgba(145, 148, 161, 0.5);
    }

    .active::after {
        width: 100%;
    }
}
