.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 6px -1px rgba(83, 104, 223, 0.1),
        0 2px 4px -2px rgba(83, 104, 223, 0.1);
}

.image {
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 4rem;
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
}

@media screen and (min-width: 1280px) {
    .cards {
        padding-bottom: 4rem;
    }

    .card:nth-child(2) {
        transform: translateY(2rem);
    }
    .card:nth-child(3) {
        transform: translateY(4rem);
    }
}
