.accordion {
    max-width: 32rem;
    margin: 0 auto;
    list-style: none;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(145, 148, 161, 0.2);
    width: 100%;
    padding: 1.25rem 0;
    text-align: left;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--clr-primary-400);
        border-radius: 0.25rem;
    }
}

.arrow.active {
    rotate: 180deg;
}

.answer {
    padding-top: 1rem;
}
